<!DOCTYPE html>
<html>
  <head>
    <title>Calculate Your Meal Cost</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
var myusername;
var result;

function calculateTotal() {
	var table=document.getElementById("myTable");
	var total = 0;
	for (var i = 0; i < result.length; i++){
		var servings = parseFloat(table.rows[i].cells[1].children[0].value);
		if (!isNaN(servings)) total += servings / parseFloat(result[i].quantity) * parseFloat(result[i].price);
	}
    document.getElementById('total_input').value = "$" + total.toFixed(2);
}

function getdata(){
	var xmlhttp0 = new XMLHttpRequest();
	xmlhttp0.onreadystatechange=function(){
		if (xmlhttp0.readyState == 4){
			var usernameresponse = JSON.parse(xmlhttp0.response);
			myusername = usernameresponse.name;
			getfood();
		}
	}
	xmlhttp0.open("GET", "/user", true);
	xmlhttp0.send();
}

function getfood(){
	var xmlhttp = new XMLHttpRequest();
	xmlhttp.onreadystatechange=function()
  	{
  if (xmlhttp.readyState==4)
    {
		var table=document.getElementById("myTable");
		result = JSON.parse(xmlhttp.response);
		for (var i = 0; i < result.length; i++){
			var row=table.insertRow(0);
			var cell1=row.insertCell(0);
			var cell2=row.insertCell(1);
			var f = document.createElement("form");
			f.setAttribute('method',"post");
			f.setAttribute('action',"submit.php");

			var k = document.createElement("input");
			k.setAttribute('type',"text");
			k.setAttribute('id',"servings_input");
			f.appendChild(k);

			$(k).keyup(function() {
				calculateTotal();
			});

			cell1.innerHTML=result[i].food;
			cell2.appendChild(k);
		}
    }
  }

	xmlhttp.open("GET", "/pantry?username=" + myusername, true);
	xmlhttp.send();
}

function add_meal(){
    var mealName = document.getElementById('meal_name').value;
    var mealCost = document.getElementById('total_input').value;
    var ingredients = {}

    var table=document.getElementById("myTable");
	var total = 0;
	for (var i = 0; i < result.length; i++){
		var servings = parseFloat(table.rows[i].cells[1].children[0].value);
		console.log(result[i].food)
		if (!isNaN(servings)) {
			// array is backwards, hacky fix
			ingredients[result[result.length - 1 - i].food] = servings;
		}
	}

    $.post(
 	 "/cooking", { name: mealName, ingredients: ingredients }, function(data) {
 	 	window.location = "cooking"; // reload
 	 }
	);
}

</script>
</head>
<body onload="getdata()">

<div>Meal Name: <input type="text" id="meal_name"/></div>

<table id="myTable" class="table table-bordered">
    <thead>
        <tr>
          <th>Item</th>
          <th>Servings</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div>Total cost of meal: <input type="text" id="total_input" value="0" readonly="true" /></div>

<br><br>

<br>
<a class="btn btn-info btn-lg active" onclick="add_meal()">I'm Done!</a>


</body>
</HTML>