<!DOCTYPE html>  
<html>  
  <head>  
    <title>Calculate Your Meal Cost</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <!-- Bootstrap -->  
    <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">  
  </head>  
  

  <body>  
<h1> Calculate Your Meal Cost </h1>

<table class="table table-bordered">  
    <thead>  
        <tr>  
          <th>Item</th>  
          <th>Servings</th>  
          <th></th>
        </tr>  
    </thead>  
    <tbody>  
        <tr>  
          <td><h3>Chicken</h3></td>  
          <td><input type="text" id="servings" name="servings"/>
          <td><button type="button" class="btn btn-success btn-lg">Add</button></td>  
    	</tr>  
 		<tr>  
          <td><h3>Pasta</h3></td>  
          <td><input type="text" id="servings" name="servings"/>
          <td><button type="button" class="btn btn-success btn-lg">Add</button></td>  
   	 	</tr>  
    </tbody>  
</table> 
<h2> Total cost of your meal: </h2>
</body>
</HTML>