body{
	font-family: 'Josefin Sans', sans-serif;
	background-color: #5378ac;
}
a {
	text-decoration: none;
	}
a:link{
	color: #ffffff;
	}
a:visited {
	color:  #ffffff;
	}
a:active {
	color:  #ccc;
	}
a:hover {
	color: #ffffff;
}

h1{
	font-size: 72px;
	text-align: center;
}

p{
	font-size: 36px;
	font-weight: 600;
	color: #ffffff;
	margin: auto;
	text-align: center;
	line-height: 400px;
}


}
#options{
	margin: 0 auto 0 auto; 
	text-align: center; 
}

#produce{
	background-image: url(produce.jpg);
	background-position: no-repeat center center-fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 400px;
	height: 400px;
	float: left; 
	padding-left: 30px;
	margin-left: 80px;
}

#pot{
	background-image: url(pot.jpg);
	background-position: no-repeat center center-fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 400px;
	height: 400px;
	float: right;
	padding-right: 30px; 
	margin-right: 80px;
}